@font-face {
  font-family: "LT_Comical";
  src:
    url("fonts/LT_Comical.ttf") format("truetype");
}

a {
  text-decoration: none;  
  color: #000000;
}

.Header {
  height: 50vh;
  margin: 0 auto;
  width: 100%;

  &__image {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
  }
}

.App {
  text-align: center; //#79f3cd;
  background: repeating-linear-gradient(
    45deg,
    #87dce3,
    #87dce3 2px,
    #95f7ff 2px,
    #95f7ff 10px
  );
  padding: 40px;
  min-height: 100vh;
  border: solid 2px #fffb89;
  position: relative;
  border-radius: 12px;
}

.button {
  font-family: "LT_Comical";
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #97ffbf;
  color: black;
  border-color: #00e82f;
  cursor: pointer;
  font-size: 1.5rem;

  &--red {
    background-color: #ff97ad;
    border-color: #ff0000;
  }

  &:hover {
    background-color: #00e82f;
  }

  &.button--red:hover  {
    background-color: #ff0000;
  }
}

.h1 {
  text-align: center;
  font-family: "LT_Comical";
  font-size: 30px;
}

.h2 {
  text-align: center;
  font-family: "LT_Comical";
}

.section {
  margin: 0 auto;
  text-align: center;
}

.formDiv {
  display: block;
}

.formLabel {
  display: inline-block;
  width: 5em;
  padding-right: 20px;
  font-family: "LT_Comical";
  font-size: 15px;
}

.formInput {
  width: 15em;
  margin-bottom: 10px;
}

.link {
  font-family: "LT_Comical";
  font-size: 15px;
  color: #004a77;
  padding-top: 15px;
  display: block;
  text-decoration: underline;

  &:hover {
    color: #002338;
  }
}

.Home {
  &__list {
    margin: 0 0 20px;
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }
}

.EditEncounter {
  &__button {
    display: block;
    margin: 20px auto 0;
  }  
}

.Login {
  
  &__form {
    width: 100%;
  }

  &__button {
    display: block;
    margin: 20px auto 0;
  } 
}

.SignIn {
  
  &__form {
    width: 100%;
  }
  
  &__button {
    display: block;
    margin: 20px auto 0;
  } 
}